<div class="container" [class.page-transition]="transitionService.isTransitioning()">
  <h1>Modify Conference</h1>
  <h4>Select the conference you want to modify</h4>
  <div id="dropdown" class="row">
    <div class="col-md-4">
      <label for="conferences" class="control-label">Select Conference</label>
      <select #conferences class="form-control" id="conferences" (input)="refreshSelectedConf()">
        <option *ngFor="let conf of adminService.conferences">
          {{ conf.title }}
        </option>
      </select>
    </div>
  </div>

  <div id="dropdown" class="row">
    <div class="col-md-4">
      <label for="dates" class="control-label">Select Date</label>
      <select #dates class="form-control" id="dates">
        <option *ngFor="let date of (selectedConfDates | async)">
          {{ date }}
        </option>
      </select>
    </div>
  </div>

  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#tabTimeslot" data-toggle="tab">Add Timeslot</a></li>
    <li role="presentation"><a href="#tabRoom" data-toggle="tab">Add Room</a></li>
  </ul>

  <div class="tab-content clearfix">
    <div class="tab-pane active" id="tabTimeslot">
      <h4 class="timeslotHeader">Add Timeslot</h4>
      <div class="form-group row">
        <div class="col-md-4 col-xs-5">
          <label class="control-label" for="start-time">Start Time</label>
          <input #start type="time" class="form-control" id="start-time">
        </div>
        <div class="col-md-4 col-xs-5">
          <label class="control-label" for="end-time">End Time</label>
          <input #end type="time" class="form-control" id="end-time">
        </div>
        <div class="col-md-4 col-xs-2">
          <button class="btn btn-primary" (click)="addTimeslot(start, end, conferences, dates)">Add</button>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="tabRoom">
      <h4 class="timeslotHeader">Add Room</h4>
      <div class="form-group row">
        <div class="col-md-4 col-xs-6">
          <label class="control-label" for="roomName">Room Name</label>
          <input #roomName type="text" class="form-control" id="roomName">
        </div>
        <div class="col-md-4 col-xs-2">
          <button class="btn btn-primary" (click)="addRoom(conferences, roomName)">Add</button>
        </div>
      </div>
    </div>
  </div>

  <toast #toast></toast>
</div>