@import '../../shared/common-styles';

#dropdown {
  margin-top: 40px;
}

.tab-body {
  margin-top: 40px;
}

.btn {
  margin-top: 10px;
}

.timeslotHeader {
  margin-top: 40px;
}

#tab-bar {
  margin-top: 60px;
}

#title, #dates {
  margin-bottom: 20px;
}