<div class="container" [class.page-transition]="transitionService.isTransitioning()">
  <h1>Modify Conference</h1>
  <h4>Select the conference you want to modify</h4>
  <div id="dropdown" class="row">
    <div class="col-md-4">
      <label for="conferences" class="ontrol-label">Select Conference</label>
      <select #conferences class="form-control" id="conferences">
        <option *ngFor="let conf of adminService.conferences">
          {{ conf.dateRange.start }} to {{ conf.dateRange.end }}
        </option>
      </select>
    </div>
  </div>

    <div class="form-group row">
        <div class="col-md-4 col-xs-5">
            <label class="control-label" for="conference-day">Select Date</label>
            <input #conferenceDay type="text" class="form-control" id="conference-day">
        </div>
    </div>

  <h4 class="timeslotHeader">Add Timeslot</h4>
  <div class="form-group row">
      <div class="col-md-4 col-xs-5">
        <label class="control-label" for="start-time">Start Time</label>
        <input #start type="time" class="form-control" id="start-time">
      </div>
      <div class="col-md-4 col-xs-5">
        <label class="control-label" for="end-time">End Time</label>
        <input #end type="time" class="form-control" id="end-time">
      </div>
      <div class="col-md-4 col-xs-2">
        <button type="submit" class="btn btn-primary" (click)="addTimeslot(start, end, conferences)">Add</button>
      </div>
  </div>


  <toast #toast></toast>
</div>