<div class="page-wrapper">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['/']">CCAW</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['/calendar']">Calendar</a></li>
          <li><a [routerLink]="['/session-list']">Sessions</a></li>
          <li><a [routerLink]="['/speaker-list']">Speakers</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Manage Conferences <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a [routerLink]="['/create-conf']">Create Conference</a></li>
              <li class="divider"></li>
              <li><a [routerLink]="['/select-active']">Select Active Conference</a></li>
              <li><a [routerLink]="['/modify-conf']">Modify Conferences</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>