@import '../../shared/common-styles';

#speaker-list {
  text-align: center;
}

#subtitle {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 100;
}

#speakers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
}

.speaker {
  @extend .card;
  display: inline-block;
  text-align: left;
  height: 100px;
  padding: 0;
  margin: 10px;
  font-weight: 100;
  white-space: nowrap;
  overflow: hidden;
  width: 400px;
  .name {
    margin-bottom: 5px;
    font-weight: bold;
  }
}

.speaker-left {
  display: inline-block;
  vertical-align: top;
  img {
    height: 100px;
  }
}

.speaker-right {
  display: inline-block;
  margin-left: 50px;
  margin-top: 10px;
  text-align: left;
}