<div class="container" [class.page-transition]="transitionService.isTransitioning()">
  <h1>Create Conference</h1>
  <div class="form-group row">
    <div class="col-md-6">
      <label class="control-label" for="start-date">Start Date</label>
      <input type="date" class="form-control" id="start-date">
    </div>
    <div class="col-md-6">
      <label class="control-label" for="end-date">End Date</label>
      <input type="date" class="form-control" id="end-date">
    </div>
  </div>
</div>