@import '../../shared/common-styles';

#calender-wrapper {
  text-align: center;
}

h1 {
  text-align: center;
}

.divider {
  margin-bottom: 50px;
}

.date {
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
  margin-bottom: 20px;
}

/** Table */
.day-table {
  margin-bottom: 50px;
}

.table {
  table-layout: fixed;
}

th {
  padding: 8px;
  font-size: 17px;
}

td {
  font-weight: 300;
  text-align: center;
}

td.time {
  font-weight: 500;
  width: 120px;
  text-align: left;
}

.empty-slot {
  background-color: $brand-success-transparent;
}

.time-header {
  width: 120px;
}

.display-type {
  font-weight: normal;
}

/** Modal */
.session-cell {
  &:hover {
    cursor: pointer;
    background-color: $brand-transparent;
  }
  &:active {
    background-color: $brand-semi-transparent;
  }
}

.modal-dialog {
  margin-top: 10%;
}

.scheduled {
  margin-top: 20px;
}

.delete {
  margin-right: 5px;
  margin-top: 10px;
  color: $gray-light;
  transition: 0.2s;
  &:hover {
    color: $brand-primary;
    cursor: pointer;
  }
}

.change-btn {
  margin-top: 10px;
}

.modal-select {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: left;
  label {
    font-weight: 500;
  }
}

.debug {
  position: fixed;
  right: 10px;
  top: 60px;
}