@import '../../shared/common-styles';

#calender-wrapper {
  text-align: center;
}

h1 {
  text-align: center;
}

.divider {
  margin-bottom: 50px;
}

.date {
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
  margin-bottom: 20px;
}

/** Table */

.day-table {
  margin-bottom: 50px;
}

.table {
  table-layout: fixed;
}

th {
  padding: 8px;
  font-size: 17px;
  text-align: center;
  font-weight: 500;
}

.session-cell {
  position: relative;
  font-weight: 300;
  text-align: center;
  &:hover .edit-slot {
    visibility: visible;
  }
  .edit-slot {
    visibility: hidden;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    color: $brand-primary;
    font-size: 25px;
  }
  a {
    cursor: pointer;
  }
}

.time {
  font-weight: 500;
  width: 120px;
  text-align: left;
}

.empty-slot {
  background-color: $brand-success-transparent;
}

.time-header {
  width: 120px;
}

.display-type {
  border-bottom: 1px dotted black;
}

.copres-list {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  a {
    margin-left: 20px;
  }
}

/** Modal */

.modal-dialog {
  margin-top: 10%;
}

.scheduled {
  margin-top: 20px;
}

.copres-list {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.session-row a {
  cursor: pointer;
}

.delete {
  margin-right: 5px;
  margin-top: 10px;
  color: $gray-light;
  transition: 0.2s;
  &:hover {
    color: $brand-primary;
    cursor: pointer;
  }
}

.change-btn {
  margin-top: 10px;
}

.modal-select {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: left;
  label {
    font-weight: 500;
  }
}

.item {
  margin-bottom: 20px;
}

.debug {
  position: fixed;
  right: 10px;
  top: 60px;
}