@import '../../shared/common-styles';

#calender-wrapper {
  text-align: center;
}

h1 {
  text-align: center;
}

.divider {
  margin-bottom: 50px;
}

.date {
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
  margin-bottom: 20px;
}

.day-table {
  margin-bottom: 50px;
}

th {
  padding: 8px;
  font-size: 17px;
}

.time {
  font-weight: 500;
  width: 120px;
}

.presentation-cell {
  &:hover {
    cursor: pointer;
    background-color: $brand-transparent;
  }
}